.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.completion-button {
  background-color: green;
  color: white;
}

.container-fluid {
  max-width: 700px;
  padding: 30px;
  background-color: #BDC3C7
}

.container-background {
  background-color: #212F3C
}

.panel-heading {
  text-align: left;
}

.panel-body {
  text-align: left;
}


.app-header {
  max-width: 700px;
  max-height: 300px;
  background-color: #F4F6F7
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
